.App {
  color: #03c4a1;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #03c4a1;
  padding: 30px 35px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.App .fas {
  color: #03c4a1;
}
