.SearchForm button {
  background: none;
  border: 0;
}

.SearchForm .form-control {
  display: inline;
  width: 60%;
  border: 1px solid #03c4a1;
}

.SearchForm .location-button .tooltiptext {
  visibility: hidden;
  width: 115px;
  background-color: #03c4a1;
  opacity: 40%;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -2%;
  left: 70%;
  margin-left: 22px;
}

.SearchForm .location-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #03c4a1 transparent transparent;
}

.SearchForm .location-button:hover .tooltiptext {
  visibility: visible;
}
