.WeatherForecast .next-hour {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

.WeatherForecast .pred-temp {
  font-size: 12px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.WeatherForecast .pred-icon {
  margin: 0 auto;
  display: block;
  width: 55px;
  height: 55px;
}
